body {
    height: 100vh;
}

.srd-demo-workspace {
    background: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;

    &__toolbar {
        padding: 5px;
        display: flex;
        flex-shrink: 0;

        button {
            background: #3c3c3c;
            font-size: 14px;
            padding: 5px 10px;
            border: none;
            color: white;
            outline: none;
            cursor: pointer;
            margin: 2px;
            border-radius: 3px;
        }

        &:hover {
            background: #00c0ff;
        }
    }

    &__content {
        flex-grow: 1;
        height: 100%;
        width: 100%;
    }
}

.docs-preview-wrapper {
    background: #3c3c3c;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.srd-demo-canvas {
    height: 100vh;
    width: 100%;
    min-height: 300px;
    min-width: 300px;
    background-color: #3c3c3c !important;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent);
    background-size: 50px 50px;

    .pointui {
        fill: rgba(255, 255, 255, 0.5);
    }
}
