.diagram-net {

  &__node {
    position: absolute;
    height: 4.5rem;
    width: 4.5rem;
    background-color: aliceblue;
    border-radius: 10px;
    border: 2px solid black;
  }

  &__port {
    position: absolute;
    z-index: 10;
    top: 1.5rem;
    left: 4.5rem;
  }
}